@charset "utf-8";

/*头部*/
.header-box{ width: 100%; height: 46px; line-height: 46px; background: #b4040f; color: #fff; position: fixed; top: 0; left: 0; z-index: 999;}
.header-box .wrap{ position: relative;}
.header-box .wrap h2{ font-size: 18px; text-align: center;}
.header-box .wrap .back{ position: absolute; left: 10px; top: 0; color: #fff;}
.header-box .wrap .back i{ border-top: 2px solid #fff; border-left: 2px solid #fff; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); width: 14px; height: 14px; display: inline-block; position: relative; top: 1px;}
.header-box .wrap .nav{ background: url(../images/icons/nav.jpg); background-size: cover; width: 16px; height: 16px; position: absolute; right: 13px; top: 15px; z-index: 1;}
.header-box .wrap .txt{ color: #fff; position: absolute; right: 10px; top: 0px; z-index: 1;}

/*菜单*/
.fixed-menu{ width: 120px; position: fixed; right: 5px; top: 55px; z-index: 1000;}
.fixed-menu ul{ background: #fff; border: 1px solid #b6b6b6; border-radius: 5px; padding: 0 10px; position: relative;}
.fixed-menu ul:after{ content: ""; border-top: 1px solid #b6b6b6; border-left: 1px solid #b6b6b6; background: #fff; -webkit-transform: rotate(45deg); width: 10px; height: 10px; position: absolute; right: 13px; top: -5px;}
.fixed-menu li:last-child a{ border: none;}
.fixed-menu li a{ display: block; height: 40px; line-height: 39px; border-bottom: 1px solid #dbdbdb; font-size: 14px;}
.fixed-menu li img{ width: 20px; margin-right: 8px; position: relative; top: -2px;}

/*内容*/
.container-box{ margin-top: 46px;}

/*焦点图*/
.box-swipe{ position:relative; overflow:hidden;}
.box-swipe ol{ height:20px; text-align:center; position: absolute; right: 10px; bottom: 0px; z-index:10;}
.box-swipe ol li{ width:8px; height:8px; display:inline-block; margin:5px 0; background:#fff; border-radius: 8px;}
.box-swipe ol li.on{ background:#b4040f;}

/*表单*/
.form-box{ padding: 20px 10px 0;}
.form-box li{ position: relative; height: 40px; line-height: 38px; border: 1px solid #ddd; border-radius: 3px; background: #fff; margin-top: 10px;}
.form-box li .hd{ float: left; width: 40px;}
.form-box li .hd img{ width: 22px; height: 22px; margin: 8px auto; display: block;}
.form-box li .bd{ margin-left: 40px;}
.form-box li .bd .ipt{ width: 100%; height: 38px; line-height: 38px; border: none;}
.form-box li .bd .btn-code{ width: 100px; height: 40px; background: #ff6600; color: #fff; border: none; text-align: center; position: absolute; right: -1px; top: -1px;}

.btn-box{ padding: 25px 10px 15px;}
.btn-box a{ display: block; height: 46px; line-height: 46px; text-align: center; font-size: 18px; font-weight: bold; border-radius: 5px;}
.btn-box .a1{ background: #b00912; background: -webkit-linear-gradient(top,#cc202a,#94040c); color: #fcc800;}
.btn-box .a1.default{ background: #ddd; color: #666;}
.btn-box .a2{ background: #fca000; color: #b3040e; border: 1px solid #d18500; margin: 10px 0;}
.btn-box .a3{ background: #fafafa; color: #b3040e; border: 1px solid #b3040e;}
.btn-box .a4{ background: #ff6600; color: #fff; border: 1px solid #ff6600;}

.login-tip{ padding: 0 13px;}
.login-tip a{ color: #b3040e;}

.notice-box{ margin: 30px 10px 10px; border: 1px solid #ddd; background: #efefef; padding: 10px; line-height: 24px; font-size: 14px; color: #ff6600; border-radius: 5px;}

/*首页*/
.round-link{ background: #b3040e; padding: 25px 0;}
.round-link li{ float: left; width: 50%; text-align: center;}
.round-link li img{ width: 100px;}

.fast-link li{ float: left; width: 50%; background: #fff; padding: 12px 0 12px 10px; border-bottom: 1px solid #ddd;}
.fast-link li:nth-child(2n) a{ border: none;}
.fast-link li a{ display: block; border-right: 1px solid #ddd; overflow: hidden;}
.fast-link li .pic img{ width: 38px; margin-right: 10px;}
.fast-link li .txt h3{ font-size: 16px;}
.fast-link li .txt p{ font-size: 12px; padding-top: 5px; color: #b6b6b6;}

.banner-link{ margin-top: 10px;}
.banner-link .bd a{ float: left; width: 50%;}
.banner-link .ft a{ height: 46px; line-height: 44px; display: block; background: #fff; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; text-align: center; color: #999;}
.banner-link .ft a i{ border-top: 1px solid #bbb; border-left: 1px solid #bbb; transform: rotate(225deg); -webkit-transform: rotate(225deg); width: 10px; height: 10px; display: inline-block; position: relative; top: -2px; left: 8px;}

/*车主商城*/
.sort-link{ background: #fff; padding-top: 10px;}
.sort-link a{ float: left; width: 33.33%; height: 80px; text-align: center;}
.sort-link a img{ width: 40px; display: block; margin: 0 auto 10px;}

.active-banner{ margin: 10px 0;}
.active-banner div{ width: 50%;}

.madden-concessions{ background: #fff; padding-left: 10px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; margin: 10px 0;}
.madden-concessions .hd{ padding: 10px 0 5px 0; color: #999;}
.madden-concessions .hd b{ display: inline-block; padding-right: 3px; color: #666;}
.madden-concessions .bd dl{ padding: 12px 0; border-bottom: 1px solid #eee;}
.madden-concessions .bd dl:last-child{ border: none;}
.madden-concessions .bd dt{ float: left; width: 80px;}
.madden-concessions .bd dd{ margin-left: 90px;}
.madden-concessions .bd dd h4{ font-size: 14px; padding: 0 0 8px 0;}
.madden-concessions .bd dd p{ color: #999; font-size: 12px;}

.product-list li{ margin-bottom: 6px; overflow: hidden;}
.product-list li .lt{ width: 50%; padding-right: 3px;}
.product-list li .rt{ width: 50%; padding-left: 3px;}
.product-list li .txt{ padding: 8px 10px; background: #fff; border-top: 1px solid #eee; border-bottom: 1px solid #eee;}
.product-list li .txt .tit{ height: 36px; overflow: hidden;}
.product-list li .txt .pri{ padding-top: 10px; color: #999;}
.product-list li .txt .pri em{ color: #ff6600; font-size: 16px;}

/*油站专区*/
.oil-price{ background: #fff; padding: 15px 10px 10px; margin-bottom: 10px; border-bottom: 1px solid #bfbfbf;}
.oil-price .hd h3{ font-size: 16px; color: #ff6600;}
.oil-price .hd p{ padding: 10px 0;}
.oil-price .bd a{ float: left; width: 25%; font-size: 16px; text-align: center; line-height: 34px; color: #fff; border-right: 1px solid #fff; background: #b6b6b6;}
.oil-price .bd a.cur{ background: #ff6600;}
.oil-price .ft span{ float: left; width: 33.33%; text-align: center; padding-top: 10px; line-height: 24px;}
.oil-price .ft b{ color: #ff6600;}

/*汽车加油*/
.search-input{ padding: 15px 10px 0; background: #fff;}
.search-input .wp{ height: 46px; padding: 0 40px 0 10px; border: 1px solid #aaa; border-radius: 5px; position: relative;}
.search-input .wp input{ width: 100%; height: 42px; line-height: 42px; color: #666; border: none;}
.search-input .wp i{ background: url(../images/icons/icon-search.jpg); background-size: cover; width: 20px; height: 20px; position: absolute; right: 10px; top: 11px;}

.product-area{ background: #fff; border-bottom: 1px solid #bfbfbf; padding: 0 10px; margin-bottom: 10px;}
.product-area dl{ padding: 12px 0; border-bottom: 1px solid #eee;}
.product-area dl:first-child{ padding-top: 0;}
.product-area dt{ float: left; width: 90px; border: 1px solid #ddd; padding: 3px;}
.product-area dd{ margin-left: 100px;}
.product-area dd h4{ font-size: 14px;}
.product-area dd p{ color: #999; font-size: 12px; padding-top: 9px;}
.product-area dd p em{ color: #ff6600;}
.product-area .more{ height: 46px; line-height: 46px; display: block; background: #fff; text-align: center; color: #999;}
.product-area .more i{ border-top: 1px solid #bbb; border-left: 1px solid #bbb; transform: rotate(225deg); -webkit-transform: rotate(225deg); width: 10px; height: 10px; display: inline-block; position: relative; top: -2px; left: 8px;}

.like-title{ background: #fff; border-bottom: 1px solid #bfbfbf; border-top: 1px solid #bfbfbf; padding: 8px 0 12px 10px; font-size: 16px;}
.like-title i{ background: url(../images/icons/icon-heart.jpg); background-size: cover; width: 20px; height: 20px; display: inline-block; position: relative; top: 4px; margin-right: 5px;}

.guess-like { background: #fff; padding: 0 10px; border-bottom: 1px solid #bfbfbf; margin-bottom: 10px;}
.guess-like li{ margin-top: 10px; border-bottom: 1px solid #eee; overflow: hidden;}
.guess-like li .lt{ width: 50%; padding-right: 5px;}
.guess-like li .rt{ width: 50%; padding-left: 5px;}
.guess-like li .txt{ padding: 8px 0; border-top: 1px solid #eee;}
.guess-like li .txt .tit i{ color: #fff; padding: 0 2px; font-size: 10px; display: inline-block; border-radius: 3px;}
.guess-like li .txt .tit i.quan{ background: #ff7981;}
.guess-like li .txt .tit i.ka{ background: #fb414d;}
.guess-like li .txt .tit i.cu{ background: #ffb533;}
.guess-like li .txt .dis{ padding: 8px 0;}
.guess-like li .txt .dis i{ background: url(../images/icons/icon-map.jpg); background-size: cover; width: 12px; height: 17px; display: inline-block; position: relative; top: 2px; margin-right: 3px;}
.guess-like li .txt .add{ overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-size: 12px;}
.guess-like .more{ height: 46px; line-height: 46px; display: block; background: #fff; text-align: center; color: #999;}
.guess-like .more i{ border-top: 1px solid #bbb; border-left: 1px solid #bbb; transform: rotate(225deg); -webkit-transform: rotate(225deg); width: 10px; height: 10px; display: inline-block; position: relative; top: -2px; left: 8px;}

/*电信运营商*/
.select-operator{ padding: 15px 5px;}
.select-operator li{ float: left; width: 25%; text-align: center; padding: 0 5px; margin: 5px 0;}
.select-operator li a{ display: block; color: #fff; background: #b6b6b6; padding: 8px 0; border-radius: 20px;}
.select-operator li a.cur{ background: #ff6600;}

.operator-pic .box{ margin-bottom: 10px; background: #fff; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 15px 10px 5px;}
.operator-pic .box h3{ font-size: 16px; color: #ff6600; padding-bottom: 10px;}
.operator-pic .box .big{ margin-bottom: 10px;}
.operator-pic .box .small .fl{ width: 50%; padding: 0 5px 10px 0;}
.operator-pic .box .small .fr{ width: 50%; padding: 0 0 10px 5px;}

/*商品详情*/
.details-data .hd{ background: #fff; padding: 15px 10px; border-bottom: 1px solid #bfbfbf;} 
.details-data .hd h4{ font-size: 15px;}
.details-data .hd p{ padding-top: 10px;}
.details-data .hd p em{ color: #ff6600;}

.details-data .bd{ padding: 20px 10px; line-height: 32px;}
.details-data .bd .count-box{ width: 134px; height: 34px; display: block; border: 1px solid #ddd; border-radius: 3px; overflow: hidden;}
.details-data .bd .count-box i{ float: left; width: 36px; height: 32px; background: #c9c9c9; font-size: 30px; text-align: center; color: #fff;}
.details-data .bd .count-box .num{ float: left; width: 60px; height: 32px; font-size: 18px; color: #333; text-align: center; border-left: 1px solid #ddd; border-right: 1px solid #ddd;}

.details-data .ft{ padding: 0 10px 25px 10px;} 
.details-data .ft a{ display: block; height: 46px; line-height: 46px; background: #ff6600; text-align: center; border-radius: 5px; color: #fff; font-weight: bold; font-size: 18px;}

.tab-sel{ border-top: 1px solid #bfbfbf; border-bottom: 1px solid #bfbfbf; overflow: hidden;}
.tab-sel a{ float: left; width: 50%; padding: 15px 0; font-size: 16px; text-align: center; font-weight: bold;}
.tab-sel a.cur{ border-bottom: 2px solid #ff6600;}

.details-guess li:last-child{ border: none;}

/*商户详情*/
.bus-details{ border-bottom: 1px solid #ddd; padding: 12px 10px; background: #fff; margin-bottom: 10px;}
.bus-details .pic{ width: 60px;} 
.bus-details .txt{ margin-left: 70px;}
.bus-details .txt h3{ font-size: 14px; padding-bottom: 3px;}
.bus-details .txt p{ line-height: 20px;}

.store-address{ border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; background: #fff; margin-bottom: 10px;}
.store-address h3{ font-size: 16px; color: #ff6600; padding: 12px 10px 5px;}
.store-address li{ margin: 0 10px; padding: 10px 0; border-bottom: 1px solid #eee;}
.store-address li h4{ font-size: 14px; padding-bottom: 5px;}
.store-address li p{ line-height: 20px;}
.store-address .more{ height: 46px; line-height: 46px; display: block; background: #fff; text-align: center; color: #999;}
.store-address .more i{ border-top: 1px solid #bbb; border-left: 1px solid #bbb; transform: rotate(225deg); -webkit-transform: rotate(225deg); width: 10px; height: 10px; display: inline-block; position: relative; top: -2px; left: 8px;}

/*商户专区*/
.merchant-active{ background: #fff; margin-bottom: 10px; border-top: 1px solid #bfbfbf;}
.merchant-active h3{ font-size: 16px; color: #ff6600; padding: 12px 10px 10px; overflow: hidden;}
.merchant-active h3 .sel{ border: none; color: #666; background: none;}

.merchant-active .select-three{ padding: 0 10px;}
.merchant-active .select-three select{ float: left; width: 32%; height: 30px; border: 1px solid #ddd; margin-right: 2%; background: #fff;}
.merchant-active .select-three select:nth-child(3){ margin-right: 0;}

.merchant-active .list{ padding: 5px 0 0 10px; border-bottom: 1px solid #bfbfbf;}
.merchant-active .list dl{ padding: 12px 0; border-bottom: 1px solid #eee;}
.merchant-active .list dt{ float: left; width: 80px;}
.merchant-active .list dd{ margin-left: 90px;}
.merchant-active .list dd h4{ font-size: 14px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.merchant-active .list dd p{ color: #999; font-size: 12px; padding: 5px 5px 0 0; line-height: 22px; overflow: hidden;}

.merchant-active .list .more{ height: 46px; line-height: 46px; display: block; background: #fff; text-align: center; color: #999;}
.merchant-active .list .more i{ border-top: 1px solid #bbb; border-left: 1px solid #bbb; transform: rotate(225deg); -webkit-transform: rotate(225deg); width: 10px; height: 10px; display: inline-block; position: relative; top: -2px; left: 8px;}

.merchant-active .oil-item ul{ margin-top: 10px; border-bottom: 1px solid #bfbfbf;}
.merchant-active .oil-item li{ padding: 10px 10px 8px; border-top: 1px solid #eee;}
.merchant-active .oil-item li dt{ float: left; width: 80px;}
.merchant-active .oil-item li dd{ margin-left: 90px;}
.merchant-active .oil-item li dd h4{ font-size: 14px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.merchant-active .oil-item li dd p{ color: #999; font-size: 12px; padding-top: 5px;}
.merchant-active .oil-item li dd p i{ background: url(../images/icons/icon-map.jpg); background-size: cover; width: 12px; height: 16px; display: inline-block; margin-right: 3px; position: relative; top: 2px;}

.merchant-active .oil-item li .oil{ margin-top: 10px;}
.merchant-active .oil-item li .oil span{ float: left; width: 33.33%; line-height: 24px;}
.merchant-active .oil-item li .oil span b{ color: #ff6600;}
.merchant-active .oil-item li .oil span em{ color: #009944; font-size: 18px;}

.merchant-active .oil-item .more{ display: block; margin: 15px 10px; border: 1px solid #bfbfbf; background: #e5e5e5; text-align: center; padding: 10px 0; border-radius: 5px;}

/*关于我们*/
.about-us .list dd p{ height: 50px;}

.about-us-details{ padding: 15px 10px;}
.about-us-details .hd{ border-bottom: 1px solid #eee; padding-bottom: 10px; margin-bottom: 10px;}
.about-us-details .hd h2{ font-size: 18px; line-height: 24px; padding-bottom: 10px; font-weight: 600;}
.about-us-details .bd p{ line-height: 22px;}
.about-us-details .bd div{ padding: 10px 0;}

/*车主专区*/
.owner-area h3{ font-size: 16px; text-align: center; color: #ff6600; padding: 15px 0;}
.owner-area h3 i{ background: url(../images/icons/icon-car.jpg); background-size: cover; width: 20px; height: 20px; display: inline-block; vertical-align: middle; margin-right: 5px; position: relative; top: -2px;}
.owner-area ul{ padding: 0 7px; margin-bottom: 10px; overflow: hidden;}
.owner-area li{ float: left; width: 25%; text-align: center; padding: 0 3px;}
.owner-area li a{ display: block; padding: 10px 0 10px 0; background: #fff; border: 1px solid #ddd; border-radius: 5px;}
.owner-area li h4{ font-size: 12px; font-weight: normal; padding-bottom: 20px;}
.owner-area li img{ width: 45px;}
.owner-area .pic{ padding: 0 10px 15px;}

@media screen and (min-width : 375px){
	.owner-area li h4{ font-size: 14px;}
	.owner-area li img{ width: 50px;}
}

/*个人中心*/
.user-data{ padding: 15px; background: #fff; border-bottom: 1px solid #ddd;}
.user-data .txt{ margin-left: 75px; padding: 5px 0 0 0;}
.user-data .txt h3{ font-size: 16px; padding: 5px 0 10px 0;}
.user-data .txt h3 em{ padding: 0 5px; background: #fde536; border: 1px solid #fac109; color: #de560b; margin-left: 3px; display: inline-block; font-weight: normal; font-size: 12px;}
.user-data .txt p{ font-size: 14px;}

.user-item{ padding: 12px 0; background: #fff; border-bottom: 1px solid #ddd;}
.user-item a{ float: left; width: 50%; padding: 5px 0; text-align: center; border-right: 1px solid #ddd;}
.user-item a:last-child{ border: none;}
.user-item a p{ font-size: 16px; font-weight: bold; padding-top: 8px;}

.user-operation{ margin-top: 10px;}
.user-operation h3{ font-size: 14px; padding: 10px 0 10px 15px;}
.user-operation ul{ border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; background: #fff;}
.user-operation li{ height: 50px; line-height: 49px; padding: 0 15px; border-bottom: 1px solid #ddd;}
.user-operation li:last-child{ border: none;}
.user-operation li a{ display: block; position: relative; font-size: 16px;}
.user-operation li a img{ width: 25px; margin-right: 5px; position: relative; top: -1px;}
.user-operation li a b{ font-size: 20px; font-weight: normal;}
.user-operation li a i{ border-top: 2px solid #b6b6b6; border-left: 2px solid #b6b6b6; transform: rotate(135deg); -webkit-transform: rotate(135deg); width: 14px; height: 14px; position: absolute; right: 0; top: 18px;}

/*添加地址*/
.select-area{ padding: 0 10px;}
.select-area dl{ padding-top: 15px;}
.select-area dt{ padding-bottom: 10px; font-weight: bold; font-size: 14px;}
.select-area dt a{ color: #b3040e; font-weight: normal;}
.select-area dd{ position: relative;}
.select-area dd .sel{ width: 100%; height: 38px; border: 1px solid #ddd; background: #fff;}
.select-area dd .sel2{ width: 49%;}
.select-area dd .ipt{ width: 100%; height: 38px; background: #fff; border: 1px solid #ddd; padding: 0 10px;}
.select-area dd .ipt2{ width: 49%;}

/*地址管理*/
.address-manage{ border-bottom: 1px solid #ddd;}
.address-manage h3{ color: #666; font-weight: normal; font-size: 16px; padding: 15px 10px 10px;}
.address-manage h3 a{ color: #b3040e;}

.address-manage .default{ padding: 12px 10px; background: #fff; font-size: 14px; border-top: 1px solid #ddd;}
.address-manage .default li{ background: url(../images/icons/check.jpg) no-repeat right center; padding-right: 35px;}
.address-manage .default h4{ font-size: 16px; color: #b3040e; padding-bottom: 5px; font-weight: normal;}
.address-manage .default p{ color: #666;}
.address-manage .default p a{ color: #b3040e;}

.address-manage .new{ background: #fff; font-size: 14px;}
.address-manage .new li{ padding: 12px 15px 12px 10px; border-top: 1px solid #ddd;}
.address-manage .new a{ background: url(../images/icons/icon-link.jpg) no-repeat right center; display: block; padding-right: 30px;}
.address-manage .new h4{ font-size: 16px; padding-bottom: 5px; font-weight: normal;}
.address-manage .new p{ color: #666;}

.fixed-address{ width: 100%; background: #fff; border-top: 1px solid #aaa; text-align: center; position: fixed; left: 0; bottom: 0; z-index: 100;}
.fixed-address a{ padding: 20px 0; color: #b3040e; font-size: 16px;}
.fixed-address em{ display: inline-block; width: 20px; height: 20px; border-radius: 50%; color: #fff; background: #b3040e; font-size: 18px; font-weight: bold; margin-right: 5px;}

/*交易成功*/
.transaction-succ{ background: #fff; padding: 15px; border-bottom: 1px solid #bfbfbf;  margin-bottom: 10px;}
.transaction-succ dt{ width: 90px; float: left;}
.transaction-succ dd{ margin-left: 105px;}
.transaction-succ dd h3{ font-size: 16px; color: #ff6600; padding-top: 8px;}
.transaction-succ dd p{ padding: 8px 0;}
.transaction-succ dd a{ border: 1px solid #ff6600; border-radius: 3px; background: #fff; color: #ff6600; padding: 5px 10px; display: inline-block;}

/*支付结果*/
.pay-result{ padding: 30px 20px; text-align: center;}
.pay-result h2{ font-size: 22px; padding: 30px 0; font-weight: normal; line-height: 30px;}
.pay-result a{ width: 200px; padding: 12px 0; display: block; margin: 0 auto; text-align: center; border-radius: 5px; border: 1px solid #ffc55c; background: #ffd488; color: #b3040e; font-size: 16px;}
.pay-result a.home{ background: #c4c4c4; border: 1px solid #bababa; color: #434343; margin-top: 15px;}

/*在线留言*/
.line-message{ padding: 15px 10px 0;}
.line-message h3{ font-size: 14px; padding-bottom: 10px;}
.line-message .sel{ width: 100%; height: 38px; border: 1px solid #ddd; background: #fff;}
.line-message .txt{ width: 100%; height: 100px; border: 1px solid #ddd; line-height: 24px; font-size: 14px; padding: 5px; margin-top: 10px; vertical-align: middle;}

.sub-message h3{ padding: 15px 0 10px 10px; font-size: 14px;}
.sub-message ul{ border-top: 1px solid #ddd;}
.sub-message li{ border-bottom: 1px solid #ddd; padding: 15px 10px; background: #fff;}
.sub-message li h4{ font-size: 14px; font-weight: normal; color: #333; line-height: 24px; padding-bottom: 10px;}

/*下单填写信息*/
.order-confirm{ background: #fff; border-top: 1px solid #bfbfbf;}
.order-confirm li{ border-bottom: 1px solid #bfbfbf; overflow: hidden;}
.order-confirm li .ord{ background: #fff; padding: 10px; font-size: 16px;}
.order-confirm li .box{ padding: 12px 10px;}
.order-confirm li .pic{ width: 80px;}
.order-confirm li .txt{ margin-left: 90px;}
.order-confirm li .txt h4 span{ font-weight: normal;}
.order-confirm li .txt h4 span.l{ color: #36c27b;}
.order-confirm li .txt h4 span.h{ color: #b3040e;}
.order-confirm li .txt h4 span.c{ color: #ff6600;}
.order-confirm li .txt p{ margin-top: 6px;}
.order-confirm li .txt p em{ color: #ff6600; font-size: 18px;}
.order-confirm li .pri{ border-top: 1px solid #eee; padding: 10px;}
.order-confirm li .pri span{ display: inline-block; padding-left: 10px;}
.order-confirm li .pri em{ color: #ff6600; font-size: 18px;}
.order-confirm li .pri a{ border: 1px solid #aaa; padding: 6px 10px; display: inline-block; border-radius: 3px; margin-left: 5px;}
.order-confirm li .pri a.q{ border: 1px solid #ff6600; color: #ff6600;}

/*我的订单*/
.order-tab{ margin-bottom: 12px;}
.order-tab a{ float: left; width: 25%; font-size: 16px; text-align: center; padding: 12px 0; border-bottom: 1px solid #bfbfbf; background: #fff;}
.order-tab a.cur{ color: #ff6600;}

.order-write li .txt p{ margin-top: 30px;}

.order-payment li{ background: #eee;}
.order-payment li .pri{ background: #fff;}

.receive-infor h4{ font-size: 14px; padding: 20px 0 10px 10px;}
.receive-infor div{ background: #fff; border-top: 1px solid #ddd; padding: 7px 10px 10px;}
.receive-infor div h3{ font-size: 16px; font-weight: normal; color: #333; padding-bottom: 5px;}
.receive-infor div p{ line-height: 22px; margin-top: 3px;}
.receive-infor div p em{ color: #b3040e;}


