<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="im.ky.fy.mapper.UserXMLDao">
  
  
   <resultMap type="UserMapperBean" id="userResult">
        <!--主键用<id>标签，表示把表中的id字段映射到实体类User中的user_id属性-->
        <id property="id" column="id"/>
        <!--非主键用<reslut>标签，表示把表中的name字段映射到实体类User的user_name属性-->
        <result property="name" column="nane"/>
        <result property="password" column="age"/>
         <result property="status" column="nane"/>
        <result property="email" column="age"/>
         <result property="mobile" column="nane"/>
    </resultMap>
    
    <resultMap type="SysMenuBean" id="permissionResult">
        <!--主键用<id>标签，表示把表中的id字段映射到实体类permission中的id属性-->
        <!-- property 为pojo  column为数据库字段-->
        <id property="id" column="id"/>
        <!--非主键用<reslut>标签，表示把表中的name字段映射到实体类User的user_name属性-->
        <result column="parent_id" property="parentId"/>
        <result column="menu_name" property="menuName"/>
        <result column="menu_url" property="menuUrl"/>
        <result column="menu_icon" property="menuIcon"/>
        <result column="sort_num" property="sortNum"/>
        <result column="user_id" property="userId"/>
        <result column="is_del" property="isDel"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_time" property="createTime"/>
    </resultMap>
    
  
   <!-- 查询返回Map集合 -->
   <select id="queryTestMap" resultType="HashMap">
        SELECT
           t.id   AS 'id',
           t.name  AS 'name',
           t.password  AS 'password',
           t.status   AS 'status',
           t.email  AS 'email',
           t.mobile  AS 'mobile'
       FROM
               t_user t
   </select>
   
   
   <!-- 根据用户ID查询用户所有权限 parameterType为输入类型 -->
   <select id="findPermissionByUserId" resultMap="permissionResult" parameterType="userMapperBean">
        SELECT
              p.*
        FROM
               t_user u,
               t_user_role ur,
               t_role r,
               t_role_permission rp,
               t_permission p
	       <where> 
	           p.id = rp.permission_id
               and rp.role_id = r.id
               and rp.role_id = ur.role_id
               and ur.user_id =  u.id          
	          <choose>    
	              <when test="id!=null and id!=''">and u.id = #{id}</when>    
	              <when test="name!=null or name==''">and u.name=#{name}</when>  
	          </choose>    
	      </where> 
   </select>
   
    <!-- 根据用户ID查询用户所有角色 parameterType为输入类型 -->
   <select id="findRoleByUserId" resultType="role" parameterType="userMapperBean">
        SELECT
              r.*
        FROM
               t_user u,
               t_user_role ur,
               t_role r
	       <where>
	          u.id = ur.user_id
	          and ur.role_id = r.id
	          and u.id = ur.user_id
	          <choose>
	              <when test="id!=null and id!=''">and u.id = #{id}</when>
	              <when test="name!=null or name==''">and u.name=#{name}</when> 
	          </choose>    
	      </where> 
   </select>
</mapper>